.img_wrapper{
    width: 50%;
    height: 100%;
    background-color: $primary-purple;
    position: fixed;
}
.logo{
    width: 30%;
    padding: 2rem;
}
.login_img{
    padding: 14rem 3rem;
    width: 80%;
}
.input_wrapper{
    margin-left: 50%;
    padding-top: 10%;
    padding-left: 5%;

b{
    color: $primary-purple;
}

hr{
    border: #f3f3f3 solid 1px;
    width: 85%;
    margin: 1rem 0rem;
}
}

.g_button{
    padding: 0.8rem 3.1rem;
    margin: 2rem 0rem;
    background: $primary-white;
    border: 1px solid #f3f3f3;
    border-radius: 5px;

    img{
        margin: -12rem 1rem -1rem -3rem;
        width: 26%;
        padding: 0px 5px;
    }
}

.input_section{
    padding: 1rem 0rem;
    input{
    padding: 0.8rem;
    width: 87%;
    border-radius: 3px;
    outline: none;
    border: solid 1px #f3f3f3;
    margin-top: 1rem;
    }
}
.login_but{
    width: 87%;
    padding: 1rem;
    margin: 2rem 0rem;
    font-size: 16px;
    // font-weight: bold;
    border: none;
    background: $primary-purple;
    color: white;
    border-radius: 5px;
}