.nav_bar{
    display: flex;
    padding: 2rem;
    position: fixed;
    width: 100%;
    margin: 0rem 0rem;
    background: white;
    z-index: 3;
    input{
        margin: 0rem 2rem 0rem 8rem; 
        padding: 0.7rem 2rem;
        border: none;
        border-radius: 2px;
        outline: none;
        box-shadow: #58159d 0px 0px 5px 0px;
    }
    
}

.right_section{
 position: absolute;
 right: 16px;   
 img{
    padding: 0rem 2rem;
 }
 
}
.left_section{
 width: 80%;
}
.searcher{
    width: 21px;
    position: absolute;
    left: 19rem;
    margin: 0.5rem 0rem 0rem 0rem;
}
.nav_wrapper{
    position: fixed;
    padding: 8rem 0rem;
    width: 20%;
    box-shadow: #d2d0d0 -6px 0px 28px 0px;
    background-color: $primary-purple;
    color: white;

li{
    padding: 1rem 0rem;
    display: flex;
    margin: 2rem 0rem;
    transition: 1s;
    cursor: pointer;
    color: white !important;
    // background: red;

    img{
        width: 10%;
        margin: 0rem 1rem;
    }
}

li:hover{
    border: solid 1px white;
    
}

li:focus {
    background-color: yellow;
  }

a:active{
    color: white !important;
}

}

svg{
   
    margin: 0rem 1rem;
    stroke: rgb(255, 255, 255);
  

}
